__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.gradio/
*.db
*.sqlite
*.sqlite3

logs/
images/
detector/
species_identifier/
viewpoint_classifier/
ia_classifier/
/frame_sampling/
miew_id/
lca/
post/
video_data.json

*.nsys-rep
*.out
*.err
